html{
	padding:0;
	margin:0;
	height:100%;
}

body{
	margin:0;
	padding:0;
	width:100%;
	height:100vh;
	background:#E76341;
	color:#fff;
	text-align:center;
}

h1{
	padding-top:220px;
	font-size:50px;
	font-family: Source Sans Pro;
	font-weight:bold;
	font-stretch:2%;
}

button#change{
	display:block;
	margin:0 auto;
	width:200px;
	height:80px;
	background:#fff;
	color:#E76341;
	font-family:Source Sans Pro;
	font-weight:bold;
	font-size:22px;
	border:0px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.30);
}

body, button#change{
	transition: all 1s ease-in-out;
}

